<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="online" connectionString="Data Source=SQL6032.site4now.net;Initial Catalog=db_aa9d4f_gestionpersonnel;User Id=db_aa9d4f_gestionpersonnel_admin;Password=IAGE1234" />
		<add name="local"  connectionString="Data Source=DESKTOP-U8VPS30;Initial Catalog=db_aa9d4f_gestionpersonnel;Integrated Security=True;User ID=benalia;Password=123456;Encrypt=False;" />
	</connectionStrings>
</configuration>